@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/



html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  height: 100%;
}

.main-container{
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

/*HEADER*/

.hero-page {
  background-color: #ffffff;
  color: #333333;
  background-position: center;
  padding: 0 70px;
  align-items: center
}

a.logo{
display: block;
margin-bottom: -8px;
position: relative;

}

.navigation{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  display:flex;
  justify-content: space-between;
  align-items: center;
  }

.navigation-list{
display:flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
justify-content: flex-start;
width:510px

}

.navigation-user{
  display: flex;
  list-style:none;
  margin-left: auto;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;

}


.navigation-iterm{
margin:0;
padding: 20px 12px;
}

.navigation-user-iterm{
padding: 20px 22px;
margin:0

}

.navigation-user-iterm-link{
  min-width: 44px;
  min-height: 64px;
}

/*Приветственная страница с фоном*/

.page-welcome {
  padding-top: 5px;
  min-height: 485px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-color:#2d658a;
  background-position: bottom;


}

/*Преимущества*/

.advanteges-head {
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin:0
}

.advantages-reasons {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}

.advanteges-list{
  margin:0;
  padding-left:0;
  display:flex;
  flex-wrap: wrap;
  }


.advanteges-item {
  color:#333333;
  background-color:rgba(131, 179, 211, 0.12);
  width:400px;
  height: 385px;
  text-align:center;
  list-style: none;

}

.advanteges-even{
  background-color:rgba(131, 179, 211, 0.20);
}


.city-sedona{
  width:400px

}

.advanteges-description {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 102px;
  padding-bottom: 30px;
  padding-left:28px;
  padding-right:28px;

}

.advanteges-description-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 112px;
  padding-left:85px;
  padding-right:85px;
}

.advanteges-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 102px;
  padding-right: 112px;
  padding-left: 112px;
  padding-bottom: 30px

}

.advanteges-text{
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  padding: 30px 85px;
}

.photo-bridge{
  width: 400px;
  height: 385px
}

.advantages-bridge-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 102px;
  padding-right: 112px;
  padding-left: 112px;
  text-align: center;
  margin-bottom: 30px;
}

.advantages-bridge-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 102px;
  padding-left: 85px;
  padding-right: 85px;

}

.advanteges-item{
 text-align: center;
}

.advanteges-item-city {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  text-align: center;
}

.advanteges-item-bridge {
  background-color: #82b3d3;
  color: #ffffff;
  display:flex;

}

/*Сервис*/

.services-list{
  display: flex;
  text-align: center;
  margin: 0;
  list-style: none;
  min-height: 385px;
  flex-wrap: wrap;
  padding: 0;


}

.services-item{
  width:400px;
  padding-top: 181px
}

.services-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #333333
}

.main-services {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333
}

.services-description {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333
}

.services-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding:0 85px
}

.services-list li:nth-child(1){
background-color:#83b3d333
}
.services-list li:nth-child(2){
background-color:#ffffff
}

.services-list li:nth-child(3){
background-color:#83b3d333
}

.searching-hotel {
  text-align: center;
}

.question {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  margin:0
}

.catalog-newsletter{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

.date {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.mail-catalog{
  text-align: center;
  padding-top:96px;
  padding-right:258px;
  padding-bottom: 104px;
  padding-left: 258px;
  max-height:415px
}


.button-seacrch-hotel {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  margin-top: 50px;
}

.subscribe-to-newsletter {
  background-image: url("../images/subscribe.jpg");
  background-color:#6d8ca0;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  min-height: 415px;}

.title-newslatter {
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom:20px
}
.information-newslatter{
  margin:0 auto;
  padding-bottom:54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

  .interes{
    text-align: center;
    padding: 96px 304px
  }
  .newsletter{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff
  }

  .information{
  font-size: 22x;
  line-height: 26px;
  }

  .e-mail{
  font-family: inherit;
  line-height: 24px;
  width: 452px;
  height: 52px;
  }

.subsccribe-button {
  font-family: "PT Sans";
  text-align: center;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.inner-header-title{
font-size: 60px;
line-height: 78px;
margin-bottom: 8px;
width:495px;
height:78px;

}

.breadcrumbs{
  display: flex;
  list-style: none;
  gap:10px;
  margin-bottom: 40px;
  padding:0;

}

.catalog-filters{
  display: flex;
}

.catalog-filer-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

}

.infrastructyre-filter{
  padding: 0;
  margin-inline: 0;
  margin-right: 70px;
  width: 150px;
  height: 157px;
  border: none
}

.infrastructyre-item{
  margin-bottom: 16px;
  padding-left: 0;
}

.infrastructyre-list{
list-style: none;
padding:0;
width:112px;
height:101px

}

.housing-filter{
  margin-right: 140px;
  width: 150px;
  height: 157px;
  border: none
}

.housing-list{
  list-style: none;
  padding:0;
  width:141px;
  height:101px
}

.housing-item{
   margin-bottom: 16px;
   padding-left: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px

}

.price-filter{
  display: flex;
  border:none;
  margin-left:70px
}

.control-input-from{
  width:143px;
  height:48px
}

.control-input-to{
  width:143px;
  height:48px
}


.header-inner {
  color: #ffffff;
  background-color: #615048;
  background-image: url("../images/inner-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 377px;
  padding:35px 70px

}

.select-control{
  width:292px;
  height:49px
}

.name-hotels{
  padding-right:70px;
  padding-left:70px
}

  .button-submit{
  background-color:#82b3d3;
  color:#ffffff;
  text-transform: uppercase;
  width:191px;
  height:36px;
  font-size:16px;
  line-height:20px;
  font-weight: 700;


  }
.button-reset{
  border: none;
  align-self: center
}

.button-want {
  font-family: "PT Sans";
  text-align: center;
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;

}

.button-brown {
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.button-blue {
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.button-green {
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #7DB54F;
  color: #ffffff;
}
.pagination {
  display: flex;
  width: 400px;
  gap:8px;
  list-style:none;
  align-items: center;
  margin-bottom:40px
}
.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  align-items: center;
  line-height: 60px;


 }

 .pagination-current{
   display: block;
  background-color:#f2f2f2;
  text-align: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius:4px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  line-height: 60px;

 }

.pagination-dots {
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height:36px;
}

a {
  color: inherit;
  text-decoration: none
}

.sorting{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:1060px;

}

.found-hotels{
  text-transform: uppercase;
  font-size:30px;
  line-height: 36px;
  width: 340px;
  height:36px;

}

.seaching-list{
  display:flex;
  flex-wrap: wrap;
  list-style:none;
  gap:20px;
  padding-left:0
}

.sorting-product{
  display:flex;
  list-style-type: none;
  gap:8px

}

.sort-product-item{
  min-width: 48px;
  min-height: 48px;
}

.sort-link{
  display:block
}

.hotel{
  width: 340px;
  min-height: 438px;
 }

.footer-container{
  display: flex;
  justify-content: space-between;
  padding-top:40px;
  padding-right:70px;
  padding-bottom: 30px;
  padding-left: 70px;
  align-items: center;
}
.phone-number{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height:40px;
  color: #333333;
}
